<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit"
                  class="btn btn-success"
                  [disabled]="!productForm.valid">Save</button>
          <button type="button"
                  class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="make">Make</label>
            <input type="text"
                   id="make"
                   formControlName="make"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="make">Model</label>
            <input type="text"
                   id="model"
                   formControlName="model"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="gender">Gender - male or female</label>
            <input type="text"
                   id="gender"
                   formControlName="gender"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text"
                   id="imageUrl"
                   formControlName="imageUrl"
                   class="form-control" #imageUrl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imageUrl.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="text"
                   id="price"
                   formControlName="price"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              formControlName="description"
              class="form-control" rows="6">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="sizes">
          <div class="row"
               *ngFor="let ingredientCtrl of controls; let i = index"
               [formGroupName]="i"
               style="margin-top: 10px">
            <div class="col-4">
              <input type="text"
                     formControlName="oneSize"
                     class="form-control">
            </div>
            <div class="col-2">
            <button type="button"
                    class="btn btn-danger" (click)="onDeleteSize(i)">X</button>
          </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddNewSizes()">Add new available size!</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
