 <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                       class="w-100" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h2>Quant trident shirts</h2>


                <p class="text-truncate mb-4 mb-md-0">
                  There are many variations of passages of Lorem Ipsum available, but the
                  majority have suffered alteration in some form, by injected humour, or
                  randomised words which don't look even slightly believable.
                </p>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">$13.99</h4>
                </div>
                <h4 class="text-success">Free shipping</h4>
                <div class="d-flex flex-column mt-4">
                  <button class="btn btn-primary btn-sm" type="button">Details</button>
                  <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                    Add to wishlist
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






<!--    <div class="card text-black" style="max-height: 500px; max-width: 250px;">-->
<!--      <img src="https://media.istockphoto.com/photos/sport-shoes-on-isolated-white-background-picture-id956501428?k=20&m=956501428&s=612x612&w=0&h=UC4qdZa2iA0PJvv0RIBlJDyF80wxFyLPq4YWvZa30Sc="-->
<!--           class="card-img-top" alt="Apple Computer" />-->
<!--      <div class="card-body">-->
<!--        <div class="text-center">-->
<!--          <h2 class="card-title">Nike</h2>-->
<!--          <h4 class="text-muted mb-4">Air Max 2</h4>-->
<!--        </div>-->
<!--        <div class="text-center">-->
<!--          <button class="btn btn-primary">Add to cart</button> |-->
<!--          <button class="btn btn-primary">See more</button>-->
<!--        </div>-->
<!--        <div class="d-flex justify-content-between total font-weight-bold mt-4">-->
<!--          <span>Total</span><span>$129.99</span>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->



<!--<div class="d-flex justify-content-center container mt-5">-->
<!--  <div class="card p-3 bg-white"><i class="fa fa-apple"></i>-->
<!--    <div class="about-product text-center mt-2"><img src="https://i.imgur.com/3VTaSeb.png" width="300">-->
<!--      <div>-->
<!--        <h4>Believing is seeing</h4>-->
<!--        <h6 class="mt-0 text-black-50">Apple pro display XDR</h6>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="stats mt-2">-->
<!--      <div class="d-flex justify-content-between p-price"><span>Pro Display XDR</span><span>$5,999</span></div>-->
<!--      <div class="d-flex justify-content-between p-price"><span>Pro stand</span><span>$999</span></div>-->
<!--      <div class="d-flex justify-content-between p-price"><span>Vesa Mount Adapter</span><span>$199</span></div>-->
<!--    </div>-->
<!--    <div class="d-flex justify-content-between total font-weight-bold mt-4"><span>Total</span><span>$7,197.00</span></div>-->
<!--  </div>-->
<!--</div>-->






<!--  <div class="col-md-8 col-lg-6 col-xl-4">-->
<!--    <div class="card text-black">-->
<!--      <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>-->
<!--      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/3.webp"-->
<!--           class="card-img-top" alt="Apple Computer" />-->
<!--      <div class="card-body">-->
<!--        <div class="text-center">-->
<!--          <h5 class="card-title">Believing is seeing</h5>-->
<!--          <p class="text-muted mb-4">Apple pro display XDR</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="d-flex justify-content-between">-->
<!--            <span>Pro Display XDR</span><span>$5,999</span>-->
<!--          </div>-->
<!--          <div class="d-flex justify-content-between">-->
<!--            <span>Pro stand</span><span>$999</span>-->
<!--          </div>-->
<!--          <div class="d-flex justify-content-between">-->
<!--            <span>Vesa Mount Adapter</span><span>$199</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="d-flex justify-content-between total font-weight-bold mt-4">-->
<!--          <span>Total</span><span>$7,197.00</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-md-8 col-lg-6 col-xl-4">-->
<!--    <div class="card text-black">-->
<!--      <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>-->
<!--      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/3.webp"-->
<!--           class="card-img-top" alt="Apple Computer" />-->
<!--      <div class="card-body">-->
<!--        <div class="text-center">-->
<!--          <h5 class="card-title">Believing is seeing</h5>-->
<!--          <p class="text-muted mb-4">Apple pro display XDR</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="d-flex justify-content-between">-->
<!--            <span>Pro Display XDR</span><span>$5,999</span>-->
<!--          </div>-->
<!--          <div class="d-flex justify-content-between">-->
<!--            <span>Pro stand</span><span>$999</span>-->
<!--          </div>-->
<!--          <div class="d-flex justify-content-between">-->
<!--            <span>Vesa Mount Adapter</span><span>$199</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="d-flex justify-content-between total font-weight-bold mt-4">-->
<!--          <span>Total</span><span>$7,197.00</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>  <div class="col-md-8 col-lg-6 col-xl-4">-->
<!--    <div class="card text-black">-->
<!--      <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>-->
<!--      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/3.webp"-->
<!--           class="card-img-top" alt="Apple Computer" />-->
<!--      <div class="card-body">-->
<!--        <div class="text-center">-->
<!--          <h5 class="card-title">Believing is seeing</h5>-->
<!--          <p class="text-muted mb-4">Apple pro display XDR</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="d-flex justify-content-between">-->
<!--            <span>Pro Display XDR</span><span>$5,999</span>-->
<!--          </div>-->
<!--          <div class="d-flex justify-content-between">-->
<!--            <span>Pro stand</span><span>$999</span>-->
<!--          </div>-->
<!--          <div class="d-flex justify-content-between">-->
<!--            <span>Vesa Mount Adapter</span><span>$199</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="d-flex justify-content-between total font-weight-bold mt-4">-->
<!--          <span>Total</span><span>$7,197.00</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

